In [22]:
import pandas as pd

In [25]:
dataset = pd.read_csv("./datasets/startups final.csv")
dataset.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [35]:
X = dataset.iloc[:,:-1]
y = dataset.iloc[:,4]

In [36]:
states = pd.get_dummies(X['State'],drop_first=True)

In [37]:
X = X.drop('State', axis=1)

In [38]:
X=pd.concat([X,states],axis=1)

In [39]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=0)

In [40]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)

In [41]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)

In [42]:
#To retrieve the intercept:
print(regressor.intercept_)

#For retrieving the slope:
print(regressor.coef_)

42554.16761773235
[ 7.73467193e-01  3.28845975e-02  3.66100259e-02 -9.59284160e+02
  6.99369053e+02]

In [43]:
score

0.9347068473282423

In [44]:
from pickle import dump
dump(regressor, open('model.pkl', 'wb'))

In [ ]:
lr = pickle.loads()